<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="formulariomaquinasPostStyle.css">
    <title>Arriendo Maquinaria Menor</title>

</head>
<body>
    <div class="titulo"><h1>Crear Maquina</h1 class="titulo"></div>

    
    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">
          <form  <form action="/maquinas/crear" method="POST">
              <div class="formbold-input-flex">
                <div>
                    <input
                    type="text"
                    name="nombre"
                    id="nombre"
                    placeholder="nombre"
                    class="formbold-form-input"
                    />
                    <label for="firstname" class="formbold-form-label"> Nombre </label>
                </div>
                <div>
                    <input
                    type="text"
                    name="marca"
                    id="marca"
                    placeholder="marca"
                    class="formbold-form-input"
                    />
                    <label for="lastname" class="formbold-form-label"> marca</label>
                </div>
              </div>
      
              <div class="formbold-input-flex">
                <div>
                    <input
                    type="text"
                    name="estado"
                    id="estado"
                    placeholder="(Arrendado o No Arrendado)"
                    class="formbold-form-input"
                    />
                    <label for="email" class="formbold-form-label"> Estado</label>
                </div>
                
              </div>
      
              
      
              
      
              <button id="boton" class="formbold-btn">
                  Crear
              </button>
          </form>
        </div>
      </div>
      <script src="formulario.js"></script>
     
</body>
</html>