<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="getusuariosstyle.css">
    <title>Ver Usuarios</title>
</head>
<body>
    <div class="titulo"><h1>Lista de Usuarios</h1></div>
    
    <div class="maquinas-container">
        <ul id="maquinas-list">
            <!-- Aquí se llenará la lista de máquinas -->
        </ul>
    </div>

    <script src="getusuarios.js"></script>
</body>
</html>
